<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Entrar)</title>


</head>

<body>

  

    <!-- Page Content -->
    <div class="container my-4">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Entrar</li>
        </ol>

        <div class="container">

            <h5 class="text-center">Nombre de usuario:</h5>
            <div class="row text-center">
                <div class="col-lg-5"></div>
                <input type="text" class="mb-4 col-lg-2 form-control" id="submit" required data-validation-required-message="Por favor introduzca su nombre de usuario.">
            </div>

            <h5 class="text-center">Contraseña:</h5>
            <div class="row mb-4">
                <div class="col-lg-5"></div>
                <input type="password" class="col-lg-2 form-control" id="email" required data-validation-required-message="Debe especificar una contraseña.">
            </div>

            <div class="row mb-4">
                <div class="col-lg-4"></div>
                <a href="" class="bg-dark text-center col-lg-4 btn btn-primary">Entrar</a>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    @*<script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

</body>

</html>
