<!DOCTYPE html>
@model TrendyShop.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<body>

    <!-- Page Content -->
    <div class="container my-4">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Entrar</li>
        </ol>

        <div class="col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title border-bottom text-center">Inicie Sesión</h1>
                    <form asp-controller="User" asp-action="Login" method="post" name="sentMessage" id="contactForm">
                        <div class="form-group mt-4">
                            @Html.LabelFor(u => u.UserName)
                            <input type="text" asp-for="UserName" class="mb-4 form-control" id="submit" required data-validation-required-message="Por favor introduzca su nombre de usuario.">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(u => u.Password)
                            <input type="password" asp-for="Password" class=" form-control" id="email" required data-validation-required-message="Debe especificar una contraseña.">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
                        </div>
                        <div asp-validation-summary="All" class=" text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    @*<script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

</body>

</html>
