@using TrendyShop.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<HomeViewModel>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Página de Inicio)</title>

</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner mt-4" role="listbox">
            <div class="carousel-item active" style="background-image: url('/images/logo.jpg')">
            </div>
            <div class="carousel-item" style="background-image: url('/images/img00.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Bienvenido</h3>
                    <p>Somos el mejor sitio de ventas online y subastas</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/images/guy.jpg'); background-size:cover">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Siéntase en Casa</h3>
                    <p>Trabajamos para usted. No dude en contactarnos!</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/images/img02.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nos preocupamos por usted</h3>
                    <p>Su seguridad y protección es nuestra prioridad. Su información está a salvo con nosotros.</p>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
   
    <!-- Page Content -->
    <div class="container">
        <h1 class="my-4 text-center"> Artículos recientes</h1>

        @foreach (HomeViewModel add in Model)
        {
            <div class="col-lg-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title border-bottom">@add.ArticleName</h4>

                        <div class="d-flex flex-column">
                            <p class="card-text">@add.AddDescription</p>
                            @Html.ActionLink("Ver más...", "Details", "Add", new { id = add.AddId }, new { @class = "ml-auto" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
