<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Entrar)</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container my-4">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Registrar</li>
        </ol>

        <div class="row breadcrumb">
            <h5 class="col-lg-12">Nombre:</h5>
            <input type="text" class="form-control col-lg-12 mb-4" id="name" required data-validation-required-message="Please enter your name.">

            <h5 class="col-lg-12">Apellidos:</h5>
            <input type="text" class="form-control col-lg-12 mb-4" id="last_name" required data-validation-required-message="Please enter your last name.">

            <h5 class="col-lg-12">Número de Identidad:</h5>
            <input type="text" class="form-control col-lg-12 mb-4" id="ci" required data-validation-required-message="Please enter your CI.">

            <h5 class="col-lg-12">Foto de Perfil:</h5>
            <input type="file" class="col-lg-10 mb-4" id="profilepic">

            <h5 class="col-lg-12">Dirección de correo:</h5>
            <input type="email" class="form-control col-lg-12 mb-4" id="email" required data-validation-required-message="Please enter your email.">

            <h5 class="col-lg-12">Tarjeta de credito:</h5>
            <input type="text" class="form-control col-lg-12 mb-4" id="card" required data-validation-required-message="Please enter your credit card number.">

            <h5 class="col-lg-12">Descripción:</h5>
            <textarea rows="10" cols="100" class="form-control mb-4" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>

            <div class="col-lg-11"></div>
            <a href="" class="btn btn-primary col-lg-1">Registrar</a>
        </div>

    </div>

</body>

</html>
