@using TrendyShop.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AuctionIndexViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compra Venta (Subastas)</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <h1 class="col-lg-4 mt-4 mb-3">
                Subastas
                <small>(Filtros)</small>
            </h1>

            <div class="col-lg-2"></div>
            <input type="text" class="form-control col-lg-5 mt-4 mb-3" id="name">
            <a class="col-lg-1 btn btn-primary mt-4 mb-4 text-white">Buscar</a>
        </div>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home/Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active">Subastas</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
                <div class="list-group">
                    <a href="" class="list-group-item">Próximas</a>
                    <a href="" class="list-group-item">En curso</a>
                    <a href="" class="list-group-item">Previas</a>
                </div>
            </div>

            <div class="col-lg-9 mb-4">
                <h2>Subastas</h2>

                <div class="row">
                    @foreach (Auction a in Model.Auctions)
                    {
                        <div class="col-lg-12 mb-4">
                            <div class="card h-100">
                                <h4 class="card-header">@a.Title</h4>
                                <div class="card-body">
                                    <p class="card-text">@a.Article.Description</p>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h5>Participantes: 0</h5>
                                        </div>
                                        <div class="col-lg-2">
                                            @*<a class="btn btn-primary">Unirse </a>*@
                                            @Html.ActionLink("Detalles", "Details", "Auction", new { id = a.ArticleId }, null)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
   

    <!-- Bootstrap core JavaScript -->
 
</body>

</html>
